@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .links {
  margin-left: auto;
}
.navbar a {
  color: black;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}

.applewood,.yarg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.yarg {
  padding-bottom: 0px;
  padding-top: 0px;
}

.applewood {
  padding-top: 0px;
  padding-bottom: 0px;
}

.card-preview {
  flex: 1 1 12%; /* Flex grow, flex shrink, flex basis */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3px;
  box-sizing: border-box;
}

.card-preview>h5 {
  margin-top: 3px;
}

.applewood>img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.applewood h4 {
  color: red;
  font-size: larger;
}

.yarg h4 {
  color: blue;
  font-size: larger;
}

div.card-preview.clicked {
  background-color: rgba(251, 247, 25, 0.5);;
}

input[type=checkbox] {
  margin-top: 5px;
  transform: scale(2);
}

.gameRow {
  margin: 20px;
}

.centeredRow {
  display: flex;
  justify-content: center;
  margin: 5px;
}